<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <title>Bible • {{ book.title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta property="og:title" content="{{book.linkPreview.title}}" />
        <meta property="og:description" content="{{book.linkPreview.description}}" />
        <meta property="og:url" content="{{book.linkPreview.url}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "styles.html" %}
    </head>
    <body>
        <div class="topbar"></div>
        <section class="container">
            {% include "title.html" %}
            {% include "book-list.html" %}
            {% include "pager.html" %}
        </section>
        <main class="container">
            {% include "content.html" %}
        </main>
        <section class="container">
            {% include "pager.html" %}
            {% include "book-list.html" %}
            {% include "title.html" %}
        </section>
        <div class="footer-bar">
            <span class="version">{{version}}</span>
            <span class="center">
                {% if bit_addr or eth_addr or xmr_addr %}
                {% include "wallets.html" %}
                {% else %}
                {{commit_hash}}
                {% endif %}
            </span>
            <span><a href="/.info">info</a></span>
        </div>
        <script type="module">
            console.log(`
Hey there!
If you opened this up, maybe you'd be interested in helping out!
Here's the:
Github: https://github.com/parsed-blue/bible{% if bit_addr or eth_addr %}
{% if bit_addr %}Bitcoin address: {{bit_addr}}{% endif %}
{% if eth_addr %}Ethereum address: {{eth_addr}}{% endif %}
{% if xmr_addr %}Monero address: {{xmr_addr}}{% endif %}{% endif %}`);

            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('.chapter').addEventListener(
                    'click',
                    function updateOgData(event) {
                        const {target} = event;
                        if (target.tagName === 'A' && target.classList.contains('ref')) {
                            const [p, a] = target.parentElement.children;
                            document.querySelector('meta[property="og:url"]').content = a.href;
                            document.querySelector('meta[property="og:description"]').content = p.textContent.trim();
                        }
                    }
                );
            });
        </script>
    </body>
</html>
