<!doctype html>
<html lang="en">
    <head>
        <title>Bible • {{ book | capitalize }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
        <style>
.chapter li::marker {
    color: #f50; /* var(--warning-500) */
}
        </style>
    </head>
    <body class="background-black color-white">
        <div class="background-warning-500 padding-top-xxs"></div>
        <section class="container max-width-m">
            {% include "title.html" %}
            {% include "book-list.html" %}
            {% include "pager.html" %}
        </section>
        <main class="container max-width-m">
            {% for paragraph in paragraphs %}
            <h3 id="c{{paragraph[0].chapter}}" class="text-align-center">Chapter <span class="color-warning-500"><a style="text-decoration:none;" href="#c{{paragraph[0].chapter}}">{{paragraph[0].chapter}}</a></span></h3>
            <ol class="chapter line-height-xl text-align-justify">
                {% for verse in paragraph %}
                <li id="v{{verse.chapter}}:{{verse.section}}">
                    <!-- <mark style="background: transparent;" class="color-warning-500 font-weight-bold border-radius"><a style="text-decoration:none;" href="#v{{verse.chapter}}:{{verse.section}}">{{verse.section}}</a></mark> -->
                    {{ verse.text }}
                    <a class="color-primary-700 font-size-xxs" style="text-decoration:none" href="#v{{verse.chapter}}:{{verse.section}}">
                        [ref]
                    </a>
                </li>
                {% endfor %}
            </ol>
            {% endfor %}
        </main>
        <section class="container max-width-m">
            {% include "pager.html" %}
            {% include "book-list.html" %}
            {% include "title.html" %}
        </section>
        <div class="background-warning-500 color-black padding-s font-weight-bold flex flex-row">
            <span class="text-transform-uppercase">{{version}}</span>
            <span class="flex-1 text-align-center">{{commit_hash}}</span>
            <span><a href="/.info">info</a></span>
        </div>
        <script type="module">
            console.log(`
Hey there!
If you opened this up, maybe you'd be interested in helping out!
Here's the:
Github: https://github.com/parsed-blue/bible{% if bit_addr or eth_addr %}
{% if bit_addr %}Bitcoin address: {{bit_addr}}{% endif %}
{% if eth_addr %}Ethereum address: {{eth_addr}}{% endif %}{% endif %}`);
        </script>
    </body>
</html>
