{% for chapter in book.chapters %}
<h3 id="{{chapter.id}}" class="text-align-center">
    Chapter <span class="color-warning-500"><a style="text-decoration:none;" href="#{{chapter.id}}">{{chapter.number}}</a></span>
    <a class="color-primary-200 font-size-xxs" style="text-decoration:none" href="#{{chapter.id}}">
        [ref]
    </a>
</h3>
<ol class="chapter line-height-xl text-align-justify">
    {% for verse in chapter.verses %}
    <li id="{{verse.id}}">
        {{ verse.text }}
        <a class="color-primary-200 font-size-xxs" style="text-decoration:none" href="#{{verse.id}}">
            [ref]
        </a>
    </li>
    {% endfor %}
</ol>
{% endfor %}
