{% for chapter in book.chapters %}
<h3 id="{{chapter.id}}" class="text-center">
    Chapter <span class="accent"><a style="text-decoration:none;" href="#{{chapter.id}}">{{chapter.number}}</a></span>
    <a class="ref" href="#{{chapter.id}}">ref</a>
</h3>
<ol class="chapter">
    {% for verse in chapter.verses %}
    <li id="{{verse.id}}" class="verse">
        <div>
            <p>
            {{ verse.text }}
            </p>
            <a class="ref" href="#{{verse.id}}">ref</a>
        </div>
    </li>
    {% endfor %}
</ol>
{% endfor %}
