<!doctype html>
<html lang="en">
    <head>
        <title>[cache]</title>
        <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background-black color-white">
        <div class="container">
            <dl>
                <dt>Entries</dt>
                <dd>{{entries}}</dd>
            </dl>
        </div>
    </body>
</html>
