<nav class="flex flex-roow flex-align-center margin-top-l margin-bottom-l">
    <span class="text-align-left flex-1 text-transform-capitalize">
        {% if prev_book %}
        <a href="/book/{{prev_book}}">{{prev_book}}</a>
        {% else %}
        <a style="text-decoration:none" class="color-warning-400 cursor-not-allowed">the beginning</a>
        {% endif %}
    </span>
    <span class="text-align-right flex-1 text-transform-capitalize">
        {% if next_book %}
        <a href="/book/{{next_book}}">{{next_book}}</a>
        {% else %}
        <a style="text-decoration:none" class="color-warning-400 cursor-not-allowed">the end</a>
        {% endif %}
    </span>
</nav>
