<!doctype html>
<html lang="en">
    <head>
        <title>[{{ book }}]</title>
        <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background-black color-white">
        <div class="background-warning-500 padding-top-xxs"></div>
        <div class="container">
            <div class="flex-1 margin-l">
                <h1 class="display-title text-align-center">[{{ book }}]</h1>
            </div>
            <div class="padding-l">
                <p class="text-align-center">
                {% for b in books %}
                <span><a class="{% if b == book %}color-warning-500 font-weight-bold{% endif %}" href="/book/{{b}}">{{b}}</a></span>
                {% endfor %}
                </p>
            </div>
            <nav class="flex flex-roow flex-align-center margin-top-l margin-bottom-l">
                <span class="text-align-left flex-1">
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">[{{prev_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(the beginning)</a>
                    {% endif %}
                </span>
                <span class="text-align-right flex-1">
                    {% if next_book %}
                    <a href="/book/{{next_book}}">[{{next_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(the end)</a>
                    {% endif %}
                </span>
            </nav>
        </div>
        <main class="container">
            {% for paragraph in paragraphs %}
            <h3 id="chapter-{{paragraph[0].chapter}}" class="text-align-center">Chapter <span class="color-warning-500"><a style="text-decoration:none;" href="#chapter-{{paragraph[0].chapter}}">{{paragraph[0].chapter}}</a></span></h3>
            <p style="text-indent: 1rem" class="line-height-xl text-align-justify">
            {% for verse in paragraph %}
            <span id="verse-{{verse.chapter}}:{{verse.section}}">
                <mark style="background: transparent;" class="color-warning-500 font-weight-bold border-radius"><a style="text-decoration:none;" href="#verse-{{verse.chapter}}:{{verse.section}}">{{verse.section}}</a></mark>
                {{ verse.text }}
            </span>
            {% endfor %}
            </p>
            {% endfor %}
        </main>
        <div class="container">
            <nav class="flex flex-roow flex-align-center margin-top-l margin-bottom-l">
                <span class="text-align-left flex-1">
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">[{{prev_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(the beginning)</a>
                    {% endif %}
                </span>
                <span class="text-align-right flex-1">
                    {% if next_book %}
                    <a href="/book/{{next_book}}">[{{next_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(the end)</a>
                    {% endif %}
                </span>
            </nav>
            <div class="padding-l">
                <p class="text-align-center">
                {% for b in books %}
                <span><a class="{% if b == book %}color-warning-500 font-weight-bold{% endif %}" href="/book/{{b}}">{{b}}</a></span>
                {% endfor %}
                </p>
            </div>
            <div class="flex-1 margin-l">
                <h1 class="display-title text-align-center">[{{ book }}]</h1>
            </div>
        </div>
        <div class="background-warning-500 color-black padding-s font-weight-bold text-align-right">
            <span><a href="/cache">[cache]</a></span>
        </div>
    </body>
</html>
