<!doctype html>
<html lang="en">
    <head>
        <title>{{ book | upper }}</title>
        <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background-black color-white">
        <div class="container">
            <div class="flex-1 margin-l">
                <h1 class="display-title text-align-center">{{ book }}</h1>
            </div>
            <div class="padding-l">
                <p class="text-align-center">
                {% for b in books %}
                <span><a href="/book/{{b}}">{{b}}</a></span>
                {% endfor %}
                </p>
            </div>
            <nav class="flex flex-roow flex-align-center margin-l">
                <span class="text-align-left flex-1">
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">[{{prev_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(beginning)</a>
                    {% endif %}
                </span>
                <span class="text-align-right flex-1">
                    {% if next_book %}
                    <a href="/book/{{next_book}}">[{{next_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(end)</a>
                    {% endif %}
                </span>
            </nav>
        </div>
        <main class="container">
            {% for paragraph in paragraphs %}
            <p style="text-indent: 1rem">
            {% for verse in paragraph %}
            <span id="{{verse.book}}-{{verse.chapter}}-{{verse.section}}">
                <mark class="background-grey-900"><a href="#{{verse.book}}-{{verse.chapter}}-{{verse.section}}">{{verse.chapter}}:{{verse.section}}</a></mark>
                {{ verse.text }}
            </span>
            {% endfor %}
            </p>
            {% endfor %}
        </main>
        <div class="container">
            <nav class="flex flex-roow flex-align-center margin-l">
                <span class="text-align-left flex-1">
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">[{{prev_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(beginning)</a>
                    {% endif %}
                </span>
                <span class="text-align-right flex-1">
                    {% if next_book %}
                    <a href="/book/{{next_book}}">[{{next_book}}]</a>
                    {% else %}
                    <a class="cursor-not-allowed">(end)</a>
                    {% endif %}
                </span>
            </nav>
            <div class="padding-l">
                <p class="text-align-center">
                {% for b in books %}
                <span><a href="/book/{{b}}">{{b}}</a></span>
                {% endfor %}
                </p>
            </div>
            <div class="flex-1 margin-l">
                <h1 class="display-title text-align-center">{{ book }}</h1>
            </div>
        </div>
    </body>
</html>
