<!doctype html>
<html lang="en">
    <head>
        <title>{{ book | upper }}</title>
        <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background-black color-white">
        <div class="container">
            <nav class="flex flex-roow flex-align-center margin-l">
                <div>
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">prev {{prev_book}}</a>
                    {% else %}
                    <a class="cursor-not-allowed">[beginning]</a>
                    {% endif %}
                </div>
                <div class="flex-1">
                    <h1 class="display-title text-align-center">{{ book }}</h1>
                </div>
                <div>
                    {% if next_book %}
                    <a href="/book/{{next_book}}">next {{next_book}}</a>
                    {% else %}
                    <a class="cursor-not-allowed">[end]</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        <main class="container">
            {% for paragraph in paragraphs %}
            <p style="text-indent: 1rem">
            {% for verse in paragraph %}
            <mark class="background-grey-900"><a href="#{{verse.book}}-{{verse.chapter}}-{{verse.section}}">{{verse.chapter}}:{{verse.section}}</a></mark>
            <span id="{{verse.book}}-{{verse.chapter}}-{{verse.section}}">{{ verse.text }}</span>
            {% endfor %}
            </p>
            {% endfor %}
        </main>
        <div class="container">
            <nav class="flex flex-roow flex-align-center margin-l">
                <div>
                    {% if prev_book %}
                    <a href="/book/{{prev_book}}">prev {{prev_book}}</a>
                    {% else %}
                    <a class="cursor-not-allowed">[beginning]</a>
                    {% endif %}
                </div>
                <div class="flex-1">
                    <h1 class="display-title text-align-center">{{ book }}</h1>
                </div>
                <div>
                    {% if next_book %}
                    <a href="/book/{{next_book}}">next {{next_book}}</a>
                    {% else %}
                    <a class="cursor-not-allowed">[end]</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </body>
</html>
